**DISCENTE: Paulo Guilherme Silva de Araújo**    
**Curso: Engenharia de Computação - Turma B**

In [1]:
import pandas as pd
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

**Questão 1:**

Antes de realizar qualquer operação, importei o **pandas** para trabalhar com os conjuntos de dados e o **ssl** para corrigir erros com a importação de csv;
Depois isso, irei importar os conjuntos de dados com os quais irei trabalhar;
Após a importação, irei verificar nos conjuntos de dados quais as informações são necessárias para minha análise e realizar a filtragem, excluindo o desnecessário.
Depois de feita a filtragem, colocarem a coluna com o nome dos _Campi_ para ser os índices dos DF
Por fim, juntei os DataFrames e salvei o DataFrame final como csv

In [38]:
projetospesq_2019 = pd.read_csv("https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=36822", encoding="latin1")

In [58]:
projetospesq_2018 = pd.read_csv("https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=33101", encoding="latin1")

In [40]:
projetospesq_2017 = pd.read_csv("https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=26911", encoding="latin1")

In [41]:
projetosext_2019 = pd.read_csv("https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=36482", encoding="latin1")

In [42]:
projetosext_2018 = pd.read_csv("https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=33131", encoding="latin1")

In [43]:
projetosext_2017 = pd.read_csv("https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=33133", encoding="latin1")

In [44]:
eventosext_2019 = pd.read_csv("https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=36480", encoding="latin1")

In [45]:
eventosext_2018 = pd.read_csv("https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=33130", encoding="latin1")

In [46]:
eventosext_2017 = pd.read_csv("https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=33132", encoding="latin1")

In [77]:
projetospesq_2019.drop(projetospesq_2019.columns[[3]], axis=1, inplace=True)

In [107]:
projetospesq_2019.set_index("Campus", inplace=True)

In [110]:
projetospesq_2019

,Título,Nome Coordenador
Campus,,
Almenara,Desenvolvimento de método analítico para deter...,Ednilton Moreira Gama
Almenara,Aprimorar é preciso: Pesquisa de percepção sob...,Alfredo Costa
Almenara,Produção de guias de estudo para o modelo de s...,Regina Mendes de Araújo
Almenara,Avaliação Gerencial em Administração Pública: ...,Dayane Patrícia Cunha de França
Almenara,Análise do Perfil Epidomiologia da Hanseníase ...,Leila Conceição de Paula Miranda
...,...,...
Teófilo Otoni,Mapeamento e estrutura cultural do Norte de Mi...,Yuri Bento Marques
Teófilo Otoni,"Impactos da erosão hídrica, perda de solo e ág...",Ivan Carlos Carreiro Almeida
Teófilo Otoni,Empreendedores versus inventores: Testagem de ...,Gustavo Henrique Silva de Souza
Teófilo Otoni,Influência do Uso do Solo e da Topografia na P...,Ivan Carlos Carreiro Almeida
Teófilo Otoni,Instrumentação Padronizada na Administração de...,Ana Cláudia Gonçalves de Sá Jardim

In [61]:
projetospesq_2018.columns = projetospesq_2018.iloc[0]

In [63]:
projetospesq_2018.drop(0, inplace=True)

In [112]:
projetospesq_2018.set_index("Campus", inplace=True)

In [113]:
projetospesq_2018

,Título,Nome Coordenador
Campus,,
Alamenara,Intervenção na Prevenção e Controle do Tabagis...,Rosângela Ferreira Ribeiro
Alamenara,Estratégias para Enfrentamentos aos Agravos À ...,Valéria Gonzaga Botelho
Alamenara,Planejamento Estratégico Aplicado a Micro e Pe...,Emanuelly Alves Pelogio
Alamenara,Qualidade de Vida no Trabalho: Estudo de Caso ...,Aline Márcia Carraro Borges
Alamenara,Bobchurras: Solução Tecnológica em E-Ecommerce...,Thiago Bicalho Ferreira
...,...,...
Teófilo Otoni,"Comportamento Empreendedor, Valores Básicos e ...",Gustavo Henrique Silva de Souza
Teófilo Otoni,Modelos Motivacionais Padronizados na Administ...,Gustavo Henrique Silva de Souza
Teófilo Otoni,Tanque guarda-chuva: Desenvolvimento de Sistem...,Renildo Ismael Félix da Costa
Teófilo Otoni,"Comportamento Empreendedor, Valores Básicos e ...",Gustavo Henrique de Souza
Teófilo Otoni,Clima Organizacional e Padrões Individuais no ...,Gustavo Henrique Silva de Souza

In [65]:
projetospesq_2017.columns = projetospesq_2017.iloc[0]

In [67]:
projetospesq_2017.drop(0, inplace=True)

In [114]:
projetospesq_2017.set_index("Campus", inplace=True)

In [115]:
projetospesq_2017

,Título,Nome Coordenador
Campus,,
Almenara,Da Maternidade Linguística ao Discurso: Possív...,Christiano Titonelo Santana
Almenara,A Percepção das Puérperas Sobre as Ações Educa...,Diane Prates Mendonça
Almenara,Desenvolvimento de uma Plataforma Digital para...,Tiago Bicalho Ferreira
Almenara,IFAPP  Desenvolvimento de um Software Aplicat...,Marcos Vinícius Montanari
Almenara,Divulgação do Potencial Turístico do Vale do J...,Rafael Porto Viana
...,...,...
Salinas,Fenologia de Diospyros Sericea A. DC. (Ebenace...,Michellia Pereira Soares
Salinas,Utilização do Mesocarpo Externo do Pequi (Cary...,Alexandre Santos de Souza
Salinas,Elaboração do Caldo de pequi (Caryocar brasili...,Alexandre Santos de Souza
Teófilo Otoni,Historietas do Comportamento Brasileiro: Valid...,Gustavo Henrique Silva de Souza
Teófilo Otoni,Plataforma Online para Mapeamento da Cultura n...,Yuri Bento Marques

In [85]:
projetosext_2019.drop('Período de Execução', axis=1, inplace=True)

In [88]:
projetosext_2019.rename(columns={'Título': 'TÍTULO', 'Coordenador': 'NOME COORDENADOR', 'Campus': 'CAMPUS'}, inplace=True)

In [117]:
projetosext_2019.set_index("CAMPUS", inplace=True)

In [118]:
projetosext_2019

,TÍTULO,NOME COORDENADOR
CAMPUS,,
ALMENARA,Análise da qualidade da água para o consumo hu...,Roberta Pereira Matos
ALMENARA,Desenvolvendo o Empreendedorismo Local: Ações ...,Paulo Eduardo Ferreira dos Santos
ALMENARA,Desenvolvimento de atividades para demonstraçã...,Edimilson Alves Barbosa
ALMENARA,Resgate e valorização de sementes de Feijão-Ca...,Jose Maria Gomes Neves
ALMENARA,EDUCAÇÃO EM SAÚDE SOBRE DOENÇAS CRÔNICAS NÃO -...,Leila Conceicao de Paula Miranda
...,...,...
TEÓFILO OTONI,Xadrez nas escolas - Desenvolvendo Habilidades...,Heverton Schimidt Souza
TEÓFILO OTONI,RUMO AO PÓDIO - Um curso intensivo de Matemáti...,Carlos Alberto Lopes dos Santos de Oliveira
TEÓFILO OTONI,Projeto Hâpó,Edimar da Rocha Pinto
TEÓFILO OTONI,"Pré-IFNMG: Meritocracia, Igualdade de Oportuni...",Carlos Alberto Lopes dos Santos de Oliveira
TEÓFILO OTONI,Orientação Profissional: Um Olhar para o Futuro,Paula Pontes do Espirito Santo

In [119]:
projetosext_2018.set_index("CAMPUS", inplace=True)

In [120]:
projetosext_2018

,TÍTULO,NOME COORDENADOR
CAMPUS,,
Almenara,Introdução à Informática e Conceitos de Progra...,Thiago Bicalho Ferreira
Almenara,Health Life - software para gerenciamento de v...,Marcos Vinicius Montanari
Almenara,"Lixo Eletrônico: Inclusão Digital, Reaproveita...",Marco Aurelio Madureira de Carvalho
Almenara,Jogos Matemáticos: uma estratégia significativ...,Waldilainy de Campos
Almenara,Cidade Nova Digital III,Paulo Sergio Henrique dos Santos
...,...,...
Teófilo Otoni,Projeto Acompanhamento de Egressos,Yuri Bento Marques
Teófilo Otoni,Projeto de Elaboração do Portfólio de Oportuni...,Yuri Bento Marques
Teófilo Otoni,Mucuri Cultura e Arte,Leandro de Paula Liberato
Teófilo Otoni,Desenvolvendo o Empreendedorismo Local: Ações ...,Gustavo Henrique Silva de Souza
Teófilo Otoni,Sustentabilidade Ambiental: Gerenciamento de R...,Ivan Carlos Carreiro Almeida

In [121]:
projetosext_2017.set_index("CAMPUS", inplace=True)

In [122]:
projetosext_2017

,TÍTULO,NOME COORDENADOR
CAMPUS,,
Almenara,Projeto de extensão para desenvolvimento da ca...,Alfredo Costa
Almenara,CineCampus: A sétima arte em formação,Pedro Herinque Prado da Silva
Almenara,Proposição de estratégias educacionais para d...,Alfredo Costa
Almenara,Utilização da vegetação nativa na alimentação...,Samuel Real Mota
Almenara,Acompanhamento dos Egressos do IFNMG/Campus A...,Benedita Silveira Neta
...,...,...
Reitoria,Semana Interna de Prevenção de Acidente - SIPAT,Valmir Pereira Magalhães
Reitoria,Elaboração de portfólio de Oportunidades do IFNMG,Fernando Antônio Thomé Andrade
Reitoria,Semana Integrada de Eventos,Kleber Carvalho dos Santos
Reitoria,Reestruturação da pagina da Extensão no Portal...,Gustavo Henrich Evangelista Vieira
Reitoria,Clube do Empreendedor no IFNMG,Wadingthon Veloso Silva

In [95]:
eventosext_2019.drop('Tipo de Evento', axis=1, inplace=True)

In [99]:
eventosext_2019.rename(columns={'Descrição Sumária do Evento': 'EVENTO/ SERVIÇO', 'Campus': 'CAMPUS'}, inplace=True)

In [123]:
eventosext_2019.set_index("CAMPUS", inplace=True)

In [124]:
eventosext_2019

                                                 EVENTO/ SERVIÇO
CAMPUS
Almenara       Festa da Mandioca cujo o principal objetivo é ...
Almenara                  Curso para Agente Comunitário de Saúde
Almenara                                         Curso de Inglês
Almenara                                       Curso de Espanhol
Almenara        Curso de Robótica criativa com Scratch e Arduino
...                                                          ...
Teófilo Otoni                   Cidadania e Participação Popular
Teófilo Otoni      Elaboração de Currículos e Ética Profissional
Teófilo Otoni  História e Cultura dos Povos Originários do Mé...
Teófilo Otoni                   Cidadania e participação popular
Teófilo Otoni                         Semeando o Desenvolvimento

[174 rows x 1 columns]

In [125]:
eventosext_2018.set_index("CAMPUS", inplace=True)

In [134]:
eventosext_2018

                                                 EVENTO/ SERVIÇO
CAMPUS
NaN                                                    CONGRESSO
Porteirinha    1. A segunda edição do evento Porteirinha Tech...
NaN                                         CURSOS CURTA DURAÇÃO
Diamantina     1. Apresentar os conceitos básicos de Geodiver...
Diamantina     2. A Lei Estadual de Incentivo à cultura faz a...
...                                                          ...
Salinas        2. Workshpp Gestão Estratégica e Produção Sust...
Salinas        3. Workshop Métodos e Abordagens de Ensino de ...
NaN                                                        FÓRUM
Araçuaí        1. O Fórum das Organizações Sociais do Vale do...
Montes Claros  1. O I Fórum de Empreendedorismo e Tecnologia ...

[124 rows x 1 columns]

In [104]:
eventosext_2017.drop('Unnamed: 2', axis=1, inplace=True)

In [126]:
eventosext_2017.set_index("CAMPUS", inplace=True)

In [128]:
eventosext_2017

                                              EVENTO/ SERVIÇO
CAMPUS
NaN                                                 CONGRESSO
Almenara    1. VI Congresso Latino-americano de Agroecolog...
Almenara    2. Olimpíada Brasileira de Robótica (OBR-2017)...
Almenara                  3. Congresso Nacional de Educação.
Diamantina  1. Campus Diamantina se reúne para ouvir e deb...
...                                                       ...
NaN                                                   MOSTRAS
Janaúba     1. I Mostra de Ciência e Tecnologia do IFNMG -...
NaN                                                  WORKSHOP
Janaúba     1. O workshop em Recreação Hospitalar teve por...
Salinas     1. Apresentação do projeto do controle de Aede...

[131 rows x 1 columns]

In [142]:
projetospesq = pd.concat([projetospesq_2019, projetospesq_2018, projetospesq_2017], axis=0)

In [149]:
projetospesq

,Título,Nome Coordenador,Nome Coordenador
Campus,,,
Almenara,Desenvolvimento de método analítico para deter...,Ednilton Moreira Gama,NaN
Almenara,Aprimorar é preciso: Pesquisa de percepção sob...,Alfredo Costa,NaN
Almenara,Produção de guias de estudo para o modelo de s...,Regina Mendes de Araújo,NaN
Almenara,Avaliação Gerencial em Administração Pública: ...,Dayane Patrícia Cunha de França,NaN
Almenara,Análise do Perfil Epidomiologia da Hanseníase ...,Leila Conceição de Paula Miranda,NaN
...,...,...,...
Salinas,Fenologia de Diospyros Sericea A. DC. (Ebenace...,NaN,Michellia Pereira Soares
Salinas,Utilização do Mesocarpo Externo do Pequi (Cary...,NaN,Alexandre Santos de Souza
Salinas,Elaboração do Caldo de pequi (Caryocar brasili...,NaN,Alexandre Santos de Souza
Teófilo Otoni,Historietas do Comportamento Brasileiro: Valid...,NaN,Gustavo Henrique Silva de Souza
Teófilo Otoni,Plataforma Online para Mapeamento da Cultura n...,NaN,Yuri Bento Marques

In [150]:
projetosext = pd.concat([projetosext_2019, projetosext_2018, projetosext_2017], axis=0)

In [151]:
projetosext

,TÍTULO,NOME COORDENADOR
CAMPUS,,
ALMENARA,Análise da qualidade da água para o consumo hu...,Roberta Pereira Matos
ALMENARA,Desenvolvendo o Empreendedorismo Local: Ações ...,Paulo Eduardo Ferreira dos Santos
ALMENARA,Desenvolvimento de atividades para demonstraçã...,Edimilson Alves Barbosa
ALMENARA,Resgate e valorização de sementes de Feijão-Ca...,Jose Maria Gomes Neves
ALMENARA,EDUCAÇÃO EM SAÚDE SOBRE DOENÇAS CRÔNICAS NÃO -...,Leila Conceicao de Paula Miranda
...,...,...
Reitoria,Semana Interna de Prevenção de Acidente - SIPAT,Valmir Pereira Magalhães
Reitoria,Elaboração de portfólio de Oportunidades do IFNMG,Fernando Antônio Thomé Andrade
Reitoria,Semana Integrada de Eventos,Kleber Carvalho dos Santos
Reitoria,Reestruturação da pagina da Extensão no Portal...,Gustavo Henrich Evangelista Vieira
Reitoria,Clube do Empreendedor no IFNMG,Wadingthon Veloso Silva

In [158]:
eventosext = pd.concat([eventosext_2019, eventosext_2018, eventosext_2017], axis=0)

In [159]:
eventosext

                                            EVENTO/ SERVIÇO  EVENTO/ SERVIÇO
CAMPUS
Almenara  Festa da Mandioca cujo o principal objetivo é ...              NaN
Almenara             Curso para Agente Comunitário de Saúde              NaN
Almenara                                    Curso de Inglês              NaN
Almenara                                  Curso de Espanhol              NaN
Almenara   Curso de Robótica criativa com Scratch e Arduino              NaN
...                                                     ...              ...
NaN                                                 MOSTRAS              NaN
Janaúba   1. I Mostra de Ciência e Tecnologia do IFNMG -...              NaN
NaN                                                WORKSHOP              NaN
Janaúba   1. O workshop em Recreação Hospitalar teve por...              NaN
Salinas   1. Apresentação do projeto do controle de Aede...              NaN

[429 rows x 2 columns]

In [161]:
DataFrame = pd.concat([projetospesq, projetosext, eventosext], axis = 0)

In [221]:
DataFrame

,Título,Nome Coordenador,Nome Coordenador,TÍTULO,NOME COORDENADOR,EVENTO/ SERVIÇO,EVENTO/ SERVIÇO
Almenara,Desenvolvimento de método analítico para deter...,Ednilton Moreira Gama,NaN,NaN,NaN,NaN,NaN
Almenara,Aprimorar é preciso: Pesquisa de percepção sob...,Alfredo Costa,NaN,NaN,NaN,NaN,NaN
Almenara,Produção de guias de estudo para o modelo de s...,Regina Mendes de Araújo,NaN,NaN,NaN,NaN,NaN
Almenara,Avaliação Gerencial em Administração Pública: ...,Dayane Patrícia Cunha de França,NaN,NaN,NaN,NaN,NaN
Almenara,Análise do Perfil Epidomiologia da Hanseníase ...,Leila Conceição de Paula Miranda,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,NaN,NaN,MOSTRAS,NaN
Janaúba,NaN,NaN,NaN,NaN,NaN,1. I Mostra de Ciência e Tecnologia do IFNMG -...,NaN
NaN,NaN,NaN,NaN,NaN,NaN,WORKSHOP,NaN
Janaúba,NaN,NaN,NaN,NaN,NaN,1. O workshop em Recreação Hospitalar teve por...,NaN
Salinas,NaN,NaN,NaN,NaN,NaN,1. Apresentação do projeto do controle de Aede...,NaN

In [163]:
DataFrame.to_csv('DataFrame_Questao1')

**Questão 2:**

Primeiro vou importar os arquivos .csv com os quais irei trabalhar;

Após a importação, irei tratar os dataframes, excluindo dados desnecessários e reorganizando o que for preciso;

Após isso, irei juntar os dataframes em um só e salvar em json;

JSON significa JavaScript Object Notation e é formato leve de troca de informações/dados entre sistemas. Dentre as vantagens do JSON em relação ao CSV temos:

O JSON mantém estruturas hierárquicas, a importação de arquivos JSON costuma dar menos problemas do que em CSV, O JSON dá suporte a listas de objetos, entre outras vantagens.

In [190]:
gasolina2019 = pd.read_csv('https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/vdpb/gasolina-aviacao/vendas-gasolina-aviacao-municipio-2019.csv', sep=';', encoding='utf8')

In [193]:
gasolina2018 = pd.read_csv('http://www.anp.gov.br/arquivos/dadosabertos/vc/vendas-gasolinaaviacao-municipio-2018.csv', sep=';', encoding='latin1')

In [195]:
gasolina2017 = pd.read_csv('http://www.anp.gov.br/arquivos/dadosabertos/vc/vendas-gasolinaaviacao-municipio-2017.csv', sep=';', encoding='latin1')

In [199]:
gasolina2019.dropna(axis=0, how='all', inplace=True)

In [200]:
gasolina2019

        ANO            ESTADO  CÓDIGO IBGE               Município     Vendas
0    2019.0          Rondônia    1100023.0               ARIQUEMES    50.165
1    2019.0          Rondônia    1100049.0                  CACOAL   175.000
2    2019.0          Rondônia    1100122.0               JI-PARANA       459
3    2019.0          Rondônia    1100189.0           PIMENTA BUENO    10.000
4    2019.0          Rondônia    1100205.0             PORTO VELHO    53.119
..      ...               ...          ...                     ...        ...
569  2019.0             Goiás    5218805.0               RIO VERDE       285
570  2019.0             Goiás    5219308.0   SANTA HELENA DE GOIAS    12.000
571  2019.0             Goiás    5220207.0  SAO MIGUEL DO ARAGUAIA   213.000
572  2019.0             Goiás    5220702.0          SITIO D'ABADIA    10.000
573  2019.0  Distrito Federal    5300108.0                BRASILIA   159.119

[574 rows x 5 columns]

In [202]:
gasolina2018.dropna(axis=0, how='all', inplace=True)

In [203]:
gasolina2018

        ANO      ESTADO  CODIGO IBGE                Municipio    Vendas
0    2018.0       Acre     1200203.0          CRUZEIRO DO SUL  258000.0
1    2018.0       Acre     1200302.0                    FEIJO   85000.0
2    2018.0       Acre     1200401.0               RIO BRANCO  415000.0
3    2018.0       Acre     1200450.0         SENADOR GUIOMARD   20000.0
4    2018.0    Alagoas     2704302.0                   MACEIO   45610.0
..      ...         ...          ...                      ...       ...
561  2018.0  Tocantins     1711100.0     ITAPORA DO TOCANTINS     225.0
562  2018.0  Tocantins     1721000.0                   PALMAS  187950.0
563  2018.0  Tocantins     1716109.0     PARAISO DO TOCANTINS  162000.0
564  2018.0  Tocantins     1718204.0           PORTO NACIONAL  120000.0
565  2018.0  Tocantins     1718899.0  SANTA RITA DO TOCANTINS  259000.0

[566 rows x 5 columns]

In [205]:
gasolina2017.dropna(axis=0, how='all', inplace=True)

In [206]:
gasolina2017

      ANO      ESTADO  CÓDIGO IBGE                Município  Vendas
0    2017       Acre       1200203          CRUZEIRO DO SUL  194000
1    2017       Acre       1200302                    FEIJO  110000
2    2017       Acre       1200401               RIO BRANCO  235000
3    2017       Acre       1200450         SENADOR GUIOMARD  200000
4    2017    Alagoas       2701506             CAMPO GRANDE     395
..    ...         ...          ...                      ...     ...
542  2017  Tocantins       1710706               ITAGUATINS   35000
543  2017  Tocantins       1721000                   PALMAS  201000
544  2017  Tocantins       1716109     PARAISO DO TOCANTINS  126000
545  2017  Tocantins       1718204           PORTO NACIONAL  110000
546  2017  Tocantins       1718899  SANTA RITA DO TOCANTINS  347000

[547 rows x 5 columns]

In [208]:
gasolinavendas = pd.concat([gasolina2019, gasolina2018, gasolina2017], axis=0)

In [216]:
gasolinavendas.dropna(axis=1, how='any', inplace=True)

In [217]:
gasolinavendas

         ANO      ESTADO     Vendas
0     2019.0    Rondônia    50.165
1     2019.0    Rondônia   175.000
2     2019.0    Rondônia       459
3     2019.0    Rondônia    10.000
4     2019.0    Rondônia    53.119
...      ...         ...        ...
1682  2017.0  Tocantins       35000
1683  2017.0  Tocantins      201000
1684  2017.0  Tocantins      126000
1685  2017.0  Tocantins      110000
1686  2017.0  Tocantins      347000

[1687 rows x 3 columns]

In [222]:
gasolinavendas.reset_index(drop=True, inplace=True)

In [223]:
gasolinavendas.to_json('DataFrame_Questão2')